Repository Azure/Azure-Proactive-Resiliency-Library, pull requests merged in 2024-03, with the labels that each got.

#303 Newupdates1 - updated
  docs/content/services/specialized-workloads/azure-virtual-desktop/_index.md
  docs/content/services/specialized-workloads/azure-virtual-desktop/code/avd-10/avd-10.kql
Labels: Area: Service Guidance

#300 Quality Review by PG
  docs/content/services/specialized-workloads/azure-vmware-solution/_index.md
  docs/content/services/specialized-workloads/azure-vmware-solution/code/avs-4/avs-4.kql
  docs/content/services/specialized-workloads/azure-vmware-solution/code/avs-5/avs-5.kql
  docs/content/services/specialized-workloads/azure-vmware-solution/code/avs-6/avs-6.kql
Labels: Bug, Area: Service Guidance, Area: Resource Graph Query(s)

#305 rosanto - Updating WADP-2 content which was missing.
  docs/content/well-architected/4-deploy/_index.md
Labels: Area: Service Guidance

#311 updates to contribution guide
  docs/content/contributing/_index.md
Labels: Area: Service Guidance

#310 Add 2 VM APRL recommendations for maintenance sensitive workload
  docs/content/services/compute/virtual-machines/_index.md
  docs/content/services/compute/virtual-machines/code/vm-27/vm-27.kql
  docs/content/services/compute/virtual-machines/code/vm-28/vm-28.kql
Labels: Area: Service Guidance, auto-merge :heavy_check_mark:

#309 Oss resource graph queries
  docs/content/services/database/db-for-mysql/_index.md
  docs/content/services/database/db-for-mysql/code/mysql-1/mysql-1.kql
  docs/content/services/database/db-for-mysql/code/mysql-2/mysql-2.kql
  docs/content/services/database/db-for-postgresql/_index.md
  docs/content/services/database/db-for-postgresql/code/psql-2/psql-2.kql
Labels: Area: Resource Graph Query(s)

#316 Fix ST-2 guidance text and resource URL
  docs/content/services/storage/storage-Account/_index.md
Labels: Area: Service Guidance

#317 Adding back AVS-1 and 2 with kusto and powershell queries
  docs/content/services/specialized-workloads/azure-vmware-solution/_index.md
  docs/content/services/specialized-workloads/azure-vmware-solution/code/avs-1/avs-1.kql
  docs/content/services/specialized-workloads/azure-vmware-solution/code/avs-2/avs-2.ps1
Labels: Area: Service Guidance, Area: Resource Graph Query(s)

#298 Removed recommendations unrelated to Azure Batch
  docs/content/services/batch/batch-accounts/_index.md
  docs/content/services/batch/batch-accounts/code/ba-2/ba-2.kql
  docs/content/services/batch/batch-accounts/code/ba-4/ba-4.kql
  docs/content/services/batch/batch-accounts/code/ba-5/ba-5.kql
  docs/content/services/batch/batch-accounts/code/ba-6/ba-6.kql
Labels: Bug, Area: Service Guidance

#321 Added pointers to AVD relevent recomendations
  docs/content/services/specialized-workloads/azure-virtual-desktop/_index.md
Labels: Area: Service Guidance, Needs: Attention :wave:

#323 update vm-1 guidance and query
  docs/content/services/compute/virtual-machines/_index.md
  docs/content/services/compute/virtual-machines/code/vm-1/vm-1.kql
Labels: Area: Service Guidance, Area: Resource Graph Query(s), Needs: Attention :wave:

#301 Update _index.md
  docs/content/services/networking/public-ip/_index.md
Labels: Area: Service Guidance, Needs: Attention :wave:

#320 Minor updates to AKS guidance and add new AKS guidance items
  docs/content/services/container/aks/_index.md
  docs/content/services/container/aks/code/aks-20/aks-20.kql
  docs/content/services/container/aks/code/aks-21/aks-21.kql
  docs/content/services/container/aks/code/aks-22/aks-22.kql
  docs/content/services/container/aks/code/aks-23/aks-23.kql
  docs/content/services/container/aks/code/aks-24/aks-24.kql
Labels: Area: Service Guidance, Area: Resource Graph Query(s)

#324 evhns-2 kql - Enable auto-inflate on Event Hub Standard tier
  docs/content/services/integration/event-hub/_index.md
  docs/content/services/integration/event-hub/code/evhns-2/evhns-2.kql
Labels: Area: Resource Graph Query(s)

#326 update vm-1 query
  docs/content/services/compute/virtual-machines/code/vm-1/vm-1.kql
Labels: Area: Resource Graph Query(s)

#335 Add ST-9
  docs/content/services/storage/storage-Account/_index.md
  docs/content/services/storage/storage-Account/code/st-9/st-9.kql
Labels: Area: Service Guidance, Area: Resource Graph Query(s)

#339 Guidance Update for VPNG-2
  docs/content/services/networking/vpn-gateway/_index.md
Labels: Area: Service Guidance

#333 ST-4: Revise recommendation
  docs/content/services/storage/storage-Account/_index.md
  docs/content/services/storage/storage-Account/code/st-4/st-4.kql
Labels: Area: Service Guidance

#338 update vm-23 impact value
  docs/content/services/compute/virtual-machines/_index.md
Labels: Area: Service Guidance

#331 Update _index.md
  docs/content/services/networking/front-door/_index.md
Labels: Area: Service Guidance

#327 update misaligned impact
  docs/content/services/ai-ml/databricks/_index.md
  docs/content/services/database/sqldb/_index.md
  docs/content/services/iot/iot-hub/_index.md
  docs/content/services/networking/network-security-group/_index.md
Labels: Area: Service Guidance

#344 Update _index.md
  docs/content/services/networking/application-gateway/_index.md
Labels: Area: Service Guidance

#342 agw-6 - adds query
  docs/content/services/networking/application-gateway/_index.md
  docs/content/services/networking/application-gateway/code/agw-6/agw-6.kql
  docs/content/services/networking/application-gateway/code/agw-6/agw-6.kql.fix
Labels: Area: Resource Graph Query(s)

#334 agw-2 query fix
  docs/content/services/networking/application-gateway/_index.md
  docs/content/services/networking/application-gateway/code/agw-2/agw-2.kql
  docs/content/services/networking/application-gateway/code/agw-2/agw-2.kql.fix
Labels: Area: Resource Graph Query(s)

#341 Updates to SAP APRL Set 2
  docs/content/services/specialized-workloads/sap-on-azure/_index.md
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-18/sap-18.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-26/sap-26.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-30/sap-30.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-31/sap-31.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-34/sap-34.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-37/sap-37.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-39/sap-39.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-40/sap-40.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-5/sap-5.kql
Labels: Area: Service Guidance

#328 Updating PIP-1
  docs/content/services/networking/public-ip/_index.md
  docs/content/services/networking/public-ip/code/pip-1/pip-1.kql
  docs/content/services/networking/public-ip/code/pip-1/pip-1.kql.fix
Labels: Area: Resource Graph Query(s)

#340 Adding HPC recommendations
  CODEOWNERS
  docs/content/services/specialized-workloads/azure-hpc/_index.md
  docs/content/services/specialized-workloads/azure-hpc/code/hpc-1/hpc-1.kql
  docs/content/services/specialized-workloads/azure-hpc/code/hpc-2/hpc-2.kql
  docs/content/services/specialized-workloads/azure-hpc/code/hpc-3/hpc-3.kql
  docs/content/services/specialized-workloads/azure-hpc/code/hpc-4/hpc-4.kql
Labels: Area: Service Guidance, Enhancement

#356 Correct VM-25 query availability
  docs/content/services/compute/virtual-machines/_index.md
Labels: Bug, Area: Service Guidance

#332 ST-3: Revise recommendation
  docs/content/services/storage/storage-Account/_index.md
  docs/content/services/storage/storage-Account/code/st-3/st-3.kql
Labels: Area: Service Guidance

#345 Update _index.md
  docs/content/services/specialized-workloads/azure-vmware-solution/_index.md
Labels: Area: Service Guidance

#336 ACR: Remove CR-4 and re-number CR items
  docs/content/services/container/container-registry/_index.md
  docs/content/services/container/container-registry/code/cr-4/cr-4.kql
Labels: Area: Service Guidance

#352 Add PIP-3 - Upgrade Basic SKU public IP addresses to Standard SKU
  docs/content/services/networking/public-ip/_index.md
  docs/content/services/networking/public-ip/code/pip-3/pip-3.kql
Labels: Area: Service Guidance, Area: Resource Graph Query(s)

#351 Improve PIP-1 query
  docs/content/services/networking/public-ip/_index.md
  docs/content/services/networking/public-ip/code/pip-1/pip-1.kql
Labels: Area: Resource Graph Query(s)

#350 Updated VPN recommendations
  docs/content/services/networking/vpn-gateway/_index.md
Labels: Area: Service Guidance

#349 Updated Log Analytics recommendations based on verification from PG
  docs/content/services/monitoring/log-analytics/_index.md
  docs/content/services/monitoring/log-analytics/code/log-1/log-1.kql
  docs/content/services/monitoring/log-analytics/code/log-2/log-2.azcli
  docs/content/services/monitoring/log-analytics/code/log-2/log-2.kql
  docs/content/services/monitoring/log-analytics/code/log-3/log-3.kql
  docs/content/services/monitoring/log-analytics/code/log-4/log-4.kql
  docs/content/services/monitoring/log-analytics/code/log-5/log-5.kql
Labels: Area: Service Guidance

#355 Updated AGW-4 ARG
  docs/content/services/networking/application-gateway/_index.md
  docs/content/services/networking/application-gateway/code/agw-4/agw-4.kql
  docs/content/services/networking/application-gateway/code/agw-4/agw-4.kql.fix
Labels: Area: Resource Graph Query(s)

#362 ERGW-4 Monitoring Alert Kusto Queries
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.1.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.2.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.3.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.4.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.5.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.6.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.7.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.kql
Labels: Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:

#360 ERGW-7 ARG
  docs/content/services/networking/expressroute-gateway/code/ergw-7/ergw-7.kql
Labels: Needs: Author Feedback, Area: Resource Graph Query(s)

#361 Update VM-5 guidance and resources
  docs/content/services/compute/virtual-machines/_index.md
Labels: Area: Service Guidance

#347 Update vm-25.kql
  docs/content/services/compute/virtual-machines/_index.md
  docs/content/services/compute/virtual-machines/code/vm-25/vm-25.kql
  docs/content/services/management/subscription/_index.md
  docs/content/services/management/subscription/code/ms-1/ms-1.kql
Labels: Area: Resource Graph Query(s)

#312 Added one ARG query and improved logic of another one
  docs/content/services/database/cosmosdb/_index.md
  docs/content/services/database/cosmosdb/code/cosmos-1/cosmos-1.kql
  docs/content/services/database/cosmosdb/code/cosmos-2/cosmos-2.kql
  docs/content/services/database/cosmosdb/code/cosmos-2/cosmos-2.kql.fix
Labels: Area: Service Guidance, Area: Resource Graph Query(s), Needs: Attention :wave:

#358 ergw-1 kql update
  docs/content/services/networking/expressroute-gateway/code/ergw-1/ergw-1.kql
Labels: Enhancement, Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:

#379 Recommendation Correction for PIP-1
  docs/content/services/networking/public-ip/_index.md
Labels: Area: Service Guidance

#378 VMSS PG Status updated - Update _index.md
  docs/content/services/compute/virtual-machine-scale-sets/_index.md
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#374 Update _index.md
  docs/content/services/compute/virtual-machines/_index.md
Labels: Area: Service Guidance

#376 Updated PG sign off status Update _index.md
  docs/content/services/specialized-workloads/azure-virtual-desktop/_index.md
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#372 Update DBW-6 _index.md
  docs/content/services/ai-ml/databricks/_index.md
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#370 Added Azure Resource Graph Query for VM-20
  docs/content/services/compute/virtual-machines/_index.md
  docs/content/services/compute/virtual-machines/code/vm-20/vm-20.kql
  docs/content/services/compute/virtual-machines/code/vm-20/vm-20.kql.fix
Labels: Enhancement, Area: Resource Graph Query(s)

#387 Rosanto - updating the State from Preview to Verified for various networking recommendations
  docs/content/services/networking/expressroute-circuits/_index.md
  docs/content/services/networking/expressroute-connection/_index.md
  docs/content/services/networking/expressroute-direct/_index.md
  docs/content/services/networking/expressroute-gateway/_index.md
  docs/content/services/networking/expressroute-traffic-collector/_index.md
  docs/content/services/networking/firewall/_index.md
  docs/content/services/networking/front-door/_index.md
  docs/content/services/networking/load-balancer/_index.md
  docs/content/services/networking/vpn-gateway/_index.md
Labels: Area: Service Guidance

#389 rosanto - Updating the State of Recommendations
  docs/content/services/networking/expressroute-circuits/_index.md
Labels: Area: Service Guidance

#329 TRAF 1-4 KQL
  docs/content/services/networking/traffic-manager/_index.md
  docs/content/services/networking/traffic-manager/code/traf-1/traf-1.kql
  docs/content/services/networking/traffic-manager/code/traf-2/traf-2.kql
  docs/content/services/networking/traffic-manager/code/traf-3/traf-3.kql
  docs/content/services/networking/traffic-manager/code/traf-4/traf-4.kql
Labels: Area: Resource Graph Query(s), Needs: Attention from aprl-networking :wave:

#381 Update Storage accounts _index.md per Storage PM Scott Hoag's review
  docs/content/services/storage/storage-Account/_index.md
  docs/content/services/storage/storage-Account/code/st-1/st-1.kql
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#386 agw-4 - limit query to V1 tier
  docs/content/services/networking/application-gateway/code/agw-4/agw-4.kql
Labels: Area: Resource Graph Query(s), Needs: Attention from aprl-networking :wave:

#393 Quality Review by PG
  docs/content/services/specialized-workloads/azure-vmware-solution/_index.md
Labels: Area: Service Guidance

#343 adding new fw recommendations
  docs/content/services/networking/firewall/_index.md
  docs/content/services/networking/firewall/code/afw-5/afw-5.kql
  docs/content/services/networking/firewall/code/afw-6/afw-6.kql
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#401 Updated AGW Page to remove AGW-7
  docs/content/services/networking/application-gateway/_index.md
Labels: Needs: Attention from aprl-admins :wave:

#395 Add recommendation wamn-5
  docs/content/well-architected/5-monitor/_index.md
Labels: Area: Service Guidance

#392 Updated Image Templates to verified
  docs/content/services/compute/compute-gallery/_index.md
  docs/content/services/compute/image-templates/_index.md
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#398 Azure Backup APRL verified by PM Nikhil Sarode
  docs/content/services/migration/azure-backup/_index.md
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#399 Update asr-1.kql as cannot be validated
  docs/content/services/compute/site-recovery/code/asr-1/asr-1.kql
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#409 fixed typo and updated KQL issues
  docs/content/services/storage/azure-netapp-files/_index.md
  docs/content/services/storage/azure-netapp-files/code/anf-6/anf-6.kql
  docs/content/services/storage/azure-netapp-files/code/anf-7/anf-7.kql
Labels: Area: Resource Graph Query(s)

#407 Remove incorrect NSG query links
  docs/content/services/networking/network-security-group/_index.md
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#412 remove incorrect column name from anf queries
  docs/content/services/storage/azure-netapp-files/code/anf-6/anf-6.kql
  docs/content/services/storage/azure-netapp-files/code/anf-7/anf-7.kql
Labels: Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:

#411 Update AVD-38 to AVD-37
  docs/content/services/specialized-workloads/azure-virtual-desktop/_index.md
  docs/content/services/specialized-workloads/azure-virtual-desktop/code/avd-38/avd-38.kql
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#394 Update Storage _index.md per Storage PG Scott and Norm's 2nd review
  docs/content/services/storage/storage-Account/_index.md
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#388 AKS-23 Nodepool subnet size needs to accommodate maximum auto-scale settings
  docs/content/services/container/aks/_index.md
  docs/content/services/container/aks/code/aks-23/aks-23.kql
Labels: Area: Resource Graph Query(s)
