Repository Azure/Azure-Proactive-Resiliency-Library, pull requests merged in 2024-04, with the labels that each got.

#432 corrected join failures due to case mismatch
  docs/content/services/networking/expressroute-gateway/code/ergw-1/ergw-1.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.1.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.2.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.3.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.4.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.5.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.6.kql
  docs/content/services/networking/expressroute-gateway/code/ergw-4/ergw-4.7.kql
  docs/content/services/specialized-workloads/azure-vmware-solution/code/avs-1/avs-1.kql
  docs/content/services/specialized-workloads/azure-vmware-solution/code/avs-3/avs-3.kql
  docs/content/services/specialized-workloads/azure-vmware-solution/code/avs-5/avs-5.kql
  docs/content/services/specialized-workloads/azure-vmware-solution/code/avs-6/avs-6.kql
Labels: Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:

#408 Update VMSS Main and VMSS 10 KQL
  docs/content/services/compute/virtual-machine-scale-sets/_index.md
  docs/content/services/compute/virtual-machine-scale-sets/code/vmss-10/vmss-10.kql
  docs/content/services/networking/front-door/_index.md
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#423 Update AVD-4 to High
  docs/content/services/specialized-workloads/azure-virtual-desktop/_index.md
  docs/content/services/specialized-workloads/azure-virtual-desktop/code/avd-4/avd-4.kql
Labels: Area: Service Guidance, Needs: Attention from aprl-avd :wave:

#424 update wats-3 impact
  docs/content/well-architected/3-test/_index.md
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#422 Mark Cosmos DB ARG queries as verified
  docs/content/services/database/cosmosdb/_index.md
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#418 Verified queries with PG Sai Kondapalli and Harmeet Singh
  docs/content/services/database/db-for-mysql/_index.md
  docs/content/services/database/db-for-postgresql/_index.md
Labels: Area: Service Guidance

#438 ANF-3: Improve query
  docs/content/services/storage/azure-netapp-files/code/anf-3/anf-3.kql
Labels: Needs: Attention from aprl-admins :wave:

#435 ST-1: Fix query
  docs/content/services/storage/storage-Account/code/st-1/st-1.kql
Labels: Needs: Attention from aprl-admins :wave:

#440 Remove VPNG-3 from AVD
  docs/content/services/specialized-workloads/azure-virtual-desktop/_index.md
Labels: Area: Service Guidance, Needs: Author Feedback

#428 Addin kv-5 query
  docs/content/services/security/key-vault/code/kv-5/kv-5.kql
Labels: Area: Resource Graph Query(s)

#337 Added AFD-5 and AFD-6
  docs/content/services/networking/front-door/code/afd-5/afd-5.kql
  docs/content/services/networking/front-door/code/afd-6/afd-6.kql
Labels: Area: Resource Graph Query(s), Needs: Attention from aprl-networking :wave:

#439 Update _index.md
  docs/content/services/networking/traffic-manager/_index.md
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#402 Update VM APRL per Disk PMs
  docs/content/services/compute/virtual-machines/_index.md
  docs/content/services/compute/virtual-machines/code/vm-6/vm-6.kql
Labels: Area: Service Guidance

#319 US 32392 Fix Queries for AFD 1 AFD 10 and AFD 11
  docs/content/services/networking/front-door/_index.md
  docs/content/services/networking/front-door/code/afd-1/afd-1.kql
  docs/content/services/networking/front-door/code/afd-1/afd-1.kql.fix
  docs/content/services/networking/front-door/code/afd-10/afd-10.kql
  docs/content/services/networking/front-door/code/afd-10/afd-10.kql.fix
  docs/content/services/networking/front-door/code/afd-11/afd-11.kql
Labels: Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:

#437 Add query for ala-1 to find subscriptions without service health alerts
  docs/content/services/monitoring/service-health-alerts/code/ala-1/ala-1.kql
Labels: Area: Resource Graph Query(s), Needs: Attention :wave:

#396 Removed VM26 and Updated status for VM 22 Update _index.md
  docs/content/services/compute/virtual-machines/_index.md
Labels: Area: Service Guidance, Needs: Attention :wave:

#444 Marked recommendations without ARG queries as verified
  docs/content/services/database/cosmosdb/_index.md
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:

#346 APIM -APRL recommendation
  docs/content/services/integration/api-management/_index.md
  docs/content/services/integration/api-management/code/apim-3/apim-3.kql
Labels: Area: Service Guidance, Area: Resource Graph Query(s), Needs: Attention :wave:

#400 Update VM-19 per PM Vikas Mohandoss
  docs/content/services/compute/virtual-machines/_index.md
  docs/content/services/compute/virtual-machines/code/vm-19/vm-19.fix
  docs/content/services/compute/virtual-machines/code/vm-19/vm-19.kql
Labels: Area: Service Guidance, Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:

#385 Cross referenced and added ARG queries
  docs/content/services/specialized-workloads/sap-on-azure/_index.md
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-17/sap-17.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-24/sap-24.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-34/sap-34.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-43/sap-43.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-44/sap-44.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-47/sap-47.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-48/sap-48.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-6/sap-6.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-7/sap-7.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-8/sap-8.kql
  docs/content/services/specialized-workloads/sap-on-azure/code/sap-9/sap-9.kql
Labels: Area: Service Guidance, Area: Resource Graph Query(s)

#429 Guidance for legacy workspaces & alternate VM SKUs
  docs/content/services/ai-ml/databricks/_index.md
  docs/content/services/ai-ml/databricks/code/dbw-29/dbw-29.kql
  docs/content/services/ai-ml/databricks/code/dbw-30/dbw-30.kql
Labels: Area: Service Guidance, Area: Resource Graph Query(s)

#441 Fixed a few typos and deleted quear that did not work
  docs/content/services/specialized-workloads/azure-virtual-desktop/_index.md
  docs/content/services/specialized-workloads/azure-virtual-desktop/code/avd-1/avd-1.kql
  docs/content/services/specialized-workloads/azure-virtual-desktop/code/avd-2/avd-2.kql
Labels: Bug, Area: Resource Graph Query(s)

#414 agw-8 - add query
  docs/content/services/networking/application-gateway/_index.md
  docs/content/services/networking/application-gateway/code/agw-8/agw-8.kql
  docs/content/services/networking/application-gateway/code/agw-8/agw-8.kql.fix
Labels: Needs: Author Feedback, Area: Resource Graph Query(s), Needs: Attention from aprl-networking :wave:
